root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# Core EditorConfig Options
dotnet_diagnostic.SA0001.severity = none # XML comment analysis
dotnet_diagnostic.SA1101.severity = none # 'this.' prefix not required
dotnet_diagnostic.SA1200.severity = none # Using directives position (allow outside namespace)
dotnet_diagnostic.SA1215.severity = none
dotnet_diagnostic.SA1413.severity = none # Trailing comma in multi-line initializers
dotnet_diagnostic.SA1516.severity = none # Elements should be separated by blank line
dotnet_diagnostic.SA1600.severity = none # Documentation not required for all elements (we will selectively enable)
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1629.severity = none
dotnet_diagnostic.SA1633.severity = none # File header not required
dotnet_diagnostic.SA1642.severity = none
dotnet_diagnostic.SA1649.severity = none # File name match type name (sometimes we have multiple)

dotnet_diagnostic.CA1031.severity = none

# Enforce some good ones
dotnet_diagnostic.SA1000.severity = error
dotnet_diagnostic.SA1513.severity = error
dotnet_diagnostic.SA1515.severity = error

# C# Formatting
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# IDE rules
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent

# Naming
dotnet_naming_rule.interface_should_be_begun_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begun_with_i.symbols = interface_type
dotnet_naming_rule.interface_should_be_begun_with_i.style = begun_with_i

dotnet_naming_symbols.interface_type.applicable_kinds = interface
dotnet_naming_style.begun_with_i.required_prefix = I
dotnet_naming_style.begun_with_i.capitalization = pascal_case
